footer {
    background-color: var(--onyx);
    color: var(--white);
    padding: 50px 10% 20px;
}

#footer-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    align-items: center;
    text-align: center;
}

#text-box {
    text-align: justify;
}

.footer-column a {
    color: white;
    transition: 0s;
    text-decoration: none;
}

.footer-column a:hover {
    color: var(--latte);
}

.footer-icon-container{
    display: block;
    width: 2.5dvw;
}

.footer-icon-container > svg{
    width: clamp(1.5rem, 1.2857rem + 1.0714vw, 3rem);
    height: 100%;
}

.footer-column img {
    height: 80px;
}

#footer-bottom {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1500px;
}

.footer-icon {
    height: 100%;
    aspect-ratio: 1/1;
}

#social {
    display: flex;
    width: min-content;
    gap: max(15px, 2dvw);
}



@media (max-width: 768px) {
    #footer-top {
        grid-template-columns: 1fr;
    }

    #footer-bottom {
        flex-direction: column;
        gap: 20px;
    }
}