#header {
    height: 70vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
        url('../source/img/header-img.jpg') center/cover no-repeat;

    display: flex;
    flex-direction: column;
}

#nav-bar {
    width: 100%;
}

#header-container {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-content {
    width: 100%;
    position: absolute;
    top: calc(50% / 2);
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(7.5px);
    padding: 50px 0;

    /* A logó képének középre igazítása a sávon belül */
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-logo-img {
    max-width: 400px;
    width: 90%;
    height: auto;
}