#body-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#body {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    margin-top: 5rem;
    text-align: center;
    font-size: 50px;
}

/* Card */
.card-title {
    width: 100%;
    height: 100%;
    font-size: 30px;
}

.card-description {
    width: 100%;
    height: fit-content;
    font-size: 15px;
    font-style: italic;
}

.card-price {
    width: 100%;
    height: fit-content;
    display: flex;
    font-size: 20px;
    justify-content: right;
    align-items: end;
}

.card-holder {
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    width: 90%;
    height: fit-content;
    min-height: 150px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (max-width: 1440px) {
    #body-container, #body, .card {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-title, .card-description, .card-price {
        height: fit-content;
    }

    #body {
        padding: 0 30px;
    }

    .card-holder {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .card-title {
        font-size: 20px;
        margin-top: auto;
    }

    .card{
        gap: 5px;
    }

    
}

@media (max-width: 625px) {
    .card-holder {
        grid-template-columns: 1fr;
    }

    .card-title {
        font-size: 15px;
    }

    .card{
        width: 100%;
        height: fit-content;
    }
}