#nav-bar {
    background-color: rgba(51, 51, 51, 0.5);
}

#nav-content {
    max-width: 1200px;
    padding: 10px 20px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
#nav-logo-img {
    height: 60px;
    width: auto;
}
*/

#nav-links {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#nav-links a {
    color: var(--white);
    text-decoration: none;
    font-size: 28px;
}

#nav-links a:hover {
    color: var(--latte);
    transform: scale(1.1);
}