#nav-bar {
    height: 7.5vh;
    position: relative;
    z-index: 2;
    background-color: var(--nav-background-color);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#nav-content {
    height: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-logo-img {
    height: 60px;
    width: auto;

    display: flex;
    align-items: center;
}

#nav-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 100%;
    gap: 75px;
}

#nav-links a {
    color: var(--white);
    text-decoration: none;
    font-size: 28px;

    height: 100%;

    display: flex;
    align-items: center;
}

#nav-links a:hover {
    color: var(--latte);
    transform: scale(1.1);
    border-bottom: solid 1px var(--latte);
}

#active {
    background-color: rgba(51, 51, 51, 0.5);
    width: 100%;
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}


#hamburger {
    display: none;
    width: 0;
}

/* Reszponzív */
@media screen and (max-width: 800px) {
    #nav-links {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 100%;
        left: 0;
        right: 0;

        background-color: rgba(51, 51, 51, 0.8);
        backdrop-filter: blur(10px);

        height: auto;
        width: 100%;
        gap: 0;
    }

    #nav-links a {
        width: 100%;
        padding: 10px 0;
        justify-content: center;
    }

    #hamburger {
        display: block;
        height: 50px;
        width: auto;
        cursor: pointer;
        z-index: 3;
    }

    #nav-links a:hover {
        justify-content: center;
        width: 100%;
    }

    #nav-links a:hover {
        color: var(--latte);
        transform: scale(1);
        border-bottom: solid 1px var(--latte);
    }

    #active {
        background-color: rgba(51, 51, 51, 1);
        width: 100%;
        padding: 10px 20px;
    }
}