#nav-bar {
    height: 7.5vh;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--nav-background-color);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#nav-content {
    height: 100%;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-logo-img {
    height: 50px;
    width: auto;
}

#nav-links {
    display: flex;
    gap: 50px;
    height: 100%;
}

#nav-links a {
    color: var(--white);
    text-decoration: none;
    font-size: 22px;
    width: 100%;
}

#nav-links div {
    width: fit-content;
}

#nav-links #active div {
    border-bottom: 2px solid var(--latte);
}

#nav-links a:hover, #active {
    color: var(--latte);
}

#hamburger {
    display: none;
    height: 30px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    #hamburger { display: block; }
    #nav-links {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        flex-direction: column;
        padding: 20px 0;
        gap: 15px;
        
        background-color: var(--nav-background-color);
        backdrop-filter: blur(10px);
        height: auto;
    }
    #nav-links.active { display: flex; }

}
