* {
    box-sizing: border-box;
}

#rolunk-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7.5cqmin;
    width: 100%;
    overflow-x: hidden;
}

#map-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2dvw;
    background: #f9f9f9;
    padding: 2cqmin;
    border-radius: 10px;
}

.item {
    flex-grow: 1;
    width: 100%;
}

#open-hours-table,
.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

#open-hours-table tr:nth-child(even),
.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

#open-hours-table tr:hover,
.table tr:hover {
    background-color: #ddd;
}

#open-hours-table td,
.table td {
    padding: 8px 5px;
    text-align: left;
    word-break: break-word;
    overflow-wrap: break-word;
}

#open-hours-table td:nth-child(2),
.table td:nth-child(2) {
    text-align: center;
}

.card-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2cqmin;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 1.5cqmin;
    width: calc(50% - 10px);
    border: rgba(0, 0, 0, 0.307) solid 2px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.307);
}

.card h1 {
    text-align: center;
}

/* ----- MEDIA QUERIES ----- */

@media (max-width: 1024px) {
    .card-holder {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        max-width: 600px;
    }
}


@media (max-width: 768px) {
    #map-container {
        flex-direction: column;
    }

    #map-box {
        height: 40dvh;
        width: 100%;
    }
}