#rolunk-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

#map-container {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}

#open-hours-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

#open-hours-table tr:nth-child(even) { background-color: #f2f2f2; }
#open-hours-table tr:hover { background-color: #ddd; }
#open-hours-table td { padding: 5px; text-align: left; }
#open-hours-table td:nth-child(2) { text-align: center; }

@media (max-width: 900px) {
    #rolunk-body, #map-container { grid-template-columns: 1fr; }
}