:root {
    --white: rgb(255, 255, 255, 1);
    --coffee: #6f4e37;
    --latte: #d7b899;
    --cream: #f3e5d3;
    --onyx: #353935;

    --nav-font-family: Andale Mono, monospace;
    --nav-background-color: rgba(51, 51, 51, 0.3);
    
    --size-large: clamp(2rem, 1.875rem + 0.625vw, 2.625rem);
}
/* Alap reset: eltünteti a böngészők alapértelmezett stílusait */
* {
    margin: 0;
    padding: 0;
    transition: 0.3s;

    font-family: Andale Mono, monospace;
    box-sizing: border-box;     /* Nav miatt például */
}

html, body{
    width: 100%;
}
