:root {
    --white: rgb(255, 255, 255, 1);
    --coffee: #6f4e37;
    --latte: #d7b899;
    --cream: #f3e5d3;
    --onyx: #353935;

    --nav-font-family: Andale Mono, monospace;
    --nav-background-color: rgba(51, 51, 51, 0.3);
    
    --size-large: clamp(2rem, 1.875rem + 0.625vw, 2.625rem);
}
/* Alap reset: eltünteti a böngészők alapértelmezett stílusait */
* {
    margin: 0;
    padding: 0;
    transition: 0.3s;

    font-family: Andale Mono, monospace;
    box-sizing: border-box;     /* Nav miatt például */
}

html, body{
    width: 100%;
}

#body {
    min-height: 50vh;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body-container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 2.5em;
        margin-bottom: 10px;
        text-align: center;
    }

    p {
        font-size: 1.2em;
        line-height: 1.6;
        text-align: center;
        margin-top: 15px;
    }

    img {
        margin-top: 20px;
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
}