#body {
    min-height: 50vh;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#body-container {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 2.5em;
        margin-bottom: 10px;
        text-align: center;
    }

    p {
        font-size: 1.2em;
        line-height: 1.6;
        text-align: center;
        margin-top: 15px;
    }

    img {
        margin-top: 20px;
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
}

#welcome-section {
    max-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: 2.5em;
        margin-bottom: 10px;
        text-align: center;
    }

    p {
        font-size: 1.2em;
        line-height: 1.6;
        text-align: center;
        margin-top: 15px;
    }

    img {
        margin-top: 20px;
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
}

/* Amit kínálunk */
#highlight-section {
    width: 100%;
    margin: 40px 0;

    #highlight-title {
        text-align: center;
        font-size: 2em;
        margin-bottom: 15px;
    }

    #highlight-items {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        p:hover {
            transform: scale(1.05);
            transition: transform 0.45s ease;
        }
    }

    .highlight-item {
        background-color: #eaeaea;
        padding: 10px 18px;
        border-radius: 8px;
    }
}

/* Galéria */
#gallery-section {
    width: 100%;
    margin: 40px 0;

    #gallery-title {
        text-align: center;
        font-size: 2em;
        margin-bottom: 20px;
    }

    #gallery-images {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        img:hover {
            transform: scale(1.05);
        }
    }

    .gallery-image {
        width: 100%;
        max-width: 300px;
        border-radius: 8px;
    }
}


@media (max-width: 768px) {

    #body {
        padding: 16px ;
    }

    #welcome-section h1 {
        font-size: 1.8em;
    }

    #welcome-section {
        font-size: 1em;
        line-height: 1.5;

        p {
            text-align: justify;
        }
    }

    #highlight-items {
        flex-direction: column;
        align-items: center;
    }

    .highlight-item {
        font-size: 0.5em;
    }

    .highlight-item {
        width: 80%;
    }


    #highlight-title {
        font-size: 1.6em;
    }
}